<div class="public">
    <nav class="create__nav">
        <div class="public__nav__title">
            <h1 class="museum">Museum </h1>
            <h4>at Home</h2>
        </div>
        {{#if userInSession}}
        <div class="nav__menu">
            <a class="nav__menu__collection" href="/search">Search paintings</a>
            <a class="nav__menu__collection" href="/create">Your Collection</a>
            <div class="nav__menu__dropdown">
                <a class="nav__menu__dropdown__button" href="#">{{userInSession.firstName}}
                    <i class='fas fa-angle-down'></i>
                </a>
                <ul>
                    <li><a href="/user-profile">Your Profile</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
            <div class="profile-photo-section"><a href="/user-profile"><img class="avatar"
                        src="../{{userInSession.profilePhoto}}"></a></div>
        </div>
        {{else}}
        <h4 class="public__nav__suggestion">Sign up to create and share your own Collection.</h4>
        <div>
            <a class="nav__menu__collection" href="/login">Log In</a>
            <a class="nav__menu__collection" href="/signup">Sign Up</a>
        </div>
        {{/if}}
    </nav>
    <main class="public__body">
        {{#if publicCollection}}
        <div class="public__body__collection">
            {{#each publicCollection}}
            <figure class="artwork">
                <img class="artwork__img" src="{{this.image}}" alt="{{this.title}}">
                <figcaption class="artwork__caption">{{this.title}}</figcaption>
            </figure>
            {{/each}}
        </div>
        {{else}}
        <p>Sorry!</p>
        {{/if}}
    </main>
</div>