<div class="user">
    <nav class="user__nav">
        <div class="title">
            <h1 class="museum">Museum </h1>
            <h4>at home</h2>
        </div>
        <div class="nav__menu">
            <a class="nav__menu__collection" href="/create">View your Collection</a>
            <div class="nav__menu__dropdown">
                <a class="nav__menu__dropdown__button" href="#">{{userInSession.firstName}}
                    <i class='fas fa-angle-down'></i>
                </a>
                <ul>
                    <li><a href="#">Your Profile</a></li>
                    <li><a href="#">Your Collection</a></li>
                    <li><a href="#">Explore</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </div>
            <div class="avatar"></div>
        </div>

    </nav>
    <main class="user__body">
        <div class="user__body__left"></div>
        <div>
            <h2 class="user__body__title">Hi {{userInSession.firstName}}, need some inspiration? Some examples of your
                favourite artist {{userInSession.favArtist}} below:</h2>
            <div class="user__body__artwork">
                {{#each userInSession.favArtistInfo}}
                <figure class="artwork">
                    <img class="artwork__img" src="{{this.[1]}}" alt="{{this.[0]}}">
                    <figcaption class="artwork__caption">{{this.[0]}}</figcaption>
                </figure>
                <form action="/add" method="POST" id="collectionItem">
                    <input value="{{this.[1]}}" name="collectionItemImage" type="hidden">
                    <input value="{{this.[0]}}" name="collectionItemTitle" type="hidden">
                    <button type="submit">Add {{this.[0]}} to your Collection</button>
                </form>
                {{/each}}
            </div>
        </div>
        <div class="user__body__right"></div>
    </main>
</div>