<h1>Testing user profile page</h1>
{{#if userInSession}}
<p>Welcome {{userInSession.firstName}}</p>
<div class="create-project">
    <h2>Create a new project</h2>
    <a href="/create">New project board</a>
</div>
<h2>Need some inspiration? Some examples from your favorite artist, {{userInSession.favArtist}}, below:</h2>
<div class="artwork-container">
    {{#each userInSession.favArtistInfo}}
    <figure class="artwork">
        <img class="artwork-img" src="{{this.[1]}}" alt="{{this.[0]}}">
        <figcaption class="artwork-caption">{{this.[0]}}</figcaption>
        <p>Add to project board</p>
    </figure>
    {{/each}}
</div>

{{else}}
<>Please log in!</>
<a href=" /login">Login Page</a>
{{/if}}