<div class="user">
    <nav class="user__nav">
        <div class="user__nav__title">
            <h1 class="museum">Museum </h1>
            <h4>at Home</h2>
        </div>
        <div class="nav__menu">
            <a class="nav__menu__collection" href="/create">View your Collection</a>
            <div class="nav__menu__dropdown">
                <a class="nav__menu__dropdown__button" href="#">{{userInSession.firstName}}
                    <i class='fas fa-angle-down'></i>
                </a>
                <ul>
                    <li><a href="/user-profile">Your Profile</a></li>
                    <li><a href="#">Your Collection</a></li>
                    <li><a href="#">Explore</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </div>
            {{#if userInSession.profilePhoto}}
            <div class="profile-photo-section"><img class="avatar" src="{{userInSession.profilePhoto}}"></div>
            {{else}}
            <div class="profile-photo-section"><img class="avatar" src="image/profile/0.jpg"></div>
            {{/if}}
        </div>

    </nav>
    <main class="user__body">
        <div class="user__body__left"></div>
        <div>
            {{#unless userInSession.profilePhoto}}
            <div class="user__body__profile-pic">
                <h3>Choose your profile photo</h3>
                <div class="profile-photo">
                    <figure class="profile-photo__card">
                        <img src="image/profile/1.jpg" alt="Anna Boudaen Courten">
                        <figcaption>
                            Anna Boudaen Courten
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/1.jpg">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/2.jpeg" alt="Salome">
                        <figcaption>
                            Salome
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/2.jpeg">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/3.png" alt="Anemic Lady">
                        <figcaption>
                            The Anemic Lady
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/3.png">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/4.jpg" alt="The Milkmaid">
                        <figcaption>
                            The Milkmaid
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/4.jpg">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/5.jpg" alt="Young Woman">
                        <figcaption>
                            Young Woman
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/5.jpg">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/6.jpg" alt="Isabella">
                        <figcaption>
                            Isabella
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/6.jpg">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/7.jpg" alt="Man">
                        <figcaption>
                            Man
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/7.jpg">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/8.png" alt="Merry Fiddler">
                        <figcaption>
                            The Merry Fiddler
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/8.png">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/9.jpg" alt="Young Rembrandt">
                        <figcaption>
                            Young Rembrandt
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/9.jpg">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/10.jpg" alt="Christophe Le More">
                        <figcaption>
                            Christophe Le More
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/10.jpg">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/11.jpg" alt="Jacob van Loo">
                        <figcaption>
                            Self Portrait
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/11.jpg">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                    <figure class="profile-photo__card">
                        <img src="image/profile/12.jpeg" alt="Doctor Pozzi">
                        <figcaption>
                            Doctor Pozzi
                        </figcaption>
                        <form action="/profile-photo" method="POST">
                            <input type="hidden" name="profilePhoto" value="image/profile/12.jpeg">
                            <button type="submit">Set as Profile Photo</button>
                        </form>
                    </figure>
                </div>
            </div>
            {{/unless}}
            <h2 class="user__body__title">Hi {{userInSession.firstName}}, need some inspiration? Some examples of your
                favourite artist {{userInSession.favArtist}} below:</h2>
            <div class="user__body__artwork">
                {{#each userInSession.favArtistInfo}}
                <figure class="artwork">
                    <img class="artwork__img" src="{{this.[1]}}" alt="{{this.[0]}}">
                    <figcaption class="artwork__caption">{{this.[0]}}</figcaption>
                
                    <form class="artwork__form" action="/add" method="POST" id="collectionItem">
                        <input value="{{this.[1]}}" name="collectionItemImage" type="hidden">
                        <input value="{{this.[0]}}" name="collectionItemTitle" type="hidden">
                        <button type="submit">Add to your Collection</button>
                    </form>
                </figure>
                {{/each}}
            </div>
        </div>
        <div class="user__body__right"></div>
    </main>
</div>