<div class="user">
    <nav class="user__nav">
        <div class="user__nav__title">
           <a href="/search">
                <h1 class="museum">Museum </h1>
                <h4 class="museum">at Home</h2>  
            </a>
        </div>
        <div class="nav__menu">
            <a class="nav__menu__collection" href="/search">Search paintings</a>
            <a class="nav__menu__collection" href="/create">Your Collection</a>
            <div class="nav__menu__dropdown">
                <a class="nav__menu__dropdown__button" href="#">{{userInSession.firstName}}
                    <i class='fas fa-angle-down'></i>
                </a>
                <ul>
                    <li><a href="/user-profile">Your Profile</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
            {{#if userInSession.profilePhoto}}
            <div class="profile-photo-section"><img class="avatar" src="{{userInSession.profilePhoto}}"><a class="edit-photo" href="/edit-profile">Change</a></div>
            {{else}}
            <div class="profile-photo-section"><img class="avatar" src="image/profile/0.jpg"></div>
            {{/if}}
        </div>

    </nav>
    <main class="user__body">
        <div class="user__body__left"></div>
        <div>
            <h2 class="user__body__title">Welcome, {{userInSession.firstName}}!</h2>
            {{#if edit}}
            {{#if userInSession.profilePhoto}}
            {{> profilePhoto }}
            {{/if}}
            {{/if}}
            {{#unless userInSession.profilePhoto}}
            {{> profilePhoto }}
            {{/unless}}
            <h2 class="user__body__title">Need some inspiration to get started?</h2>
            <h3 class="user__body__title">Hover and click on a few of the works from your chosen artist,
                <br>{{userInSession.favArtist}}, to add to your Collection.</h3>
            <div class="user__body__artwork">
                {{#each userInSession.favArtistInfo}}
                <figure class="artwork">
                    <img class="artwork__img" src="{{this.[1]}}" alt="{{this.[0]}}">
                    <figcaption class="artwork__caption">{{this.[0]}}</figcaption>
                    <form class="artwork__form" action="/addProfile" method="POST" id="collectionItem">
                        <input value="{{this.[1]}}" name="collectionItemImage" type="hidden">
                        <input value="{{this.[0]}}" name="collectionItemTitle" type="hidden">
                        <button type="submit">Add to your Collection</button>
                    </form>
                </figure>
                {{/each}}
            </div>
        </div>
        <div class="user__body__right"></div>
    </main>
</div>